Анализ датасета "telecom_churn".

Загружаем библиотеки

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

Загружаем и просматриваем файл

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/telecom_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False


Настройка опций вывода таблицы - 100x100 (по умолчанию 20x60)

In [ ]:
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)

Описание переменных

* State - Буквенный код штата
* Account length - Как долго клиент обслуживается компанией
* Area code - Префикс номера телефона
* International plan - Международный роуминг (подключен/не подключен)
* Voice mail plan - Голосовая почта (подключена/не подключена)
* Number vmail messages - Количество голосовых сообщений
* Total day minutes - Общая длительность разговоров днем
* Total day calls - Общее количество звонков днем
* Total eve minutes - Общая длительность разговоров вечером
* Total eve calls - Общее количество звонков вечером
* Total eve charge - Общая сумма оплаты за услуги вечером
* Total night minutes - Общая длительность разговоров ночью
* Total night calls - Общее количество звонков ночью
* Total night charge - Общая сумма оплаты за услуги ночью
* Total intl minutes - Общая длительность международных разговоров
* Total intl calls - Общее количество международных разговоров
* Total intl charge - Общая сумма оплаты за международные разговоры
* Customer service calls - Число обращений в сервисный центр
* Churn - Признак оттока

Посмотрим на размер данных, названия признаков и их типы.

In [ ]:
print(df.shape)

(3333, 20)

Видим, что в таблице 3333 строки и 20 столбцов. Выведем названия столбцов

In [ ]:
print(df.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

Общая информация по датафрейму

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB
None

Меняем тип колонки Churn в int64

In [ ]:
df['Churn']=df['Churn'].astype('int64')

Смотрим  основные статистические характеристики данных
по каждому числовому признаку (типы int64 и float64): число непропущенных
значений, среднее, стандартное отклонение, диапазон, медиану, 0.25 и 0.75
квартили.

In [ ]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

Статистика по нечисловым признакам

In [ ]:
df.describe(include=['object','bool'])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

 Посмотрим на распределение данных
по нашей целевой переменной — Churn. 2850 пользователей из 3333 — лояльные, значение переменной Churn у них
— 0.

In [ ]:
df['Churn'].value_counts()

0    2850
1     483
Name: Churn, dtype: int64

Распределение пользователей по переменной Area code. Параметр  normalize=True, чтобы показывает не
абсолютные частоты, а относительные

In [ ]:
df['Area code'].value_counts(normalize=True)

415    0.496550
510    0.252025
408    0.251425
Name: Area code, dtype: float64

Сортировка по занчению Total day charge (ascending=False для сортировки
по убыванию)

In [ ]:
df.sort_values(by='Total day charge',ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75,59.64,216.5,94,18.40,253.9,100,11.43,10.1,9,2.73,1,1
985,NY,64,415,Yes,No,0,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,1
2594,OH,115,510,Yes,No,0,345.3,81,58.70,203.4,106,17.29,217.5,107,9.79,11.8,8,3.19,1,1
156,OH,83,415,No,No,0,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,1
605,MO,112,415,No,No,0,335.5,77,57.04,212.5,109,18.06,265.0,132,11.93,12.7,8,3.43,2,1

Сортировка по группе столбцов

In [ ]:
df.sort_values(by=['Churn', 'Total day charge'], ascending=[True, False]).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
688,MN,13,510,No,Yes,21,315.6,105,53.65,208.9,71,17.76,260.1,123,11.70,12.1,3,3.27,3,0
2259,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
534,LA,67,510,No,No,0,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,0
575,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2858,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0

Доля людей нелояльных пользователей в нашем датафрейме

In [ ]:
df['Churn'].mean()

0.14491449144914492

Средние значения
числовых признаков среди нелояльных пользователей

In [ ]:
df[df['Churn'] == 1].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Account length            102.664596
Area code                 437.817805
Number vmail messages       5.115942
Total day minutes         206.914079
Total day calls           101.335404
Total day charge           35.175921
Total eve minutes         212.410145
Total eve calls           100.561077
Total eve charge           18.054969
Total night minutes       205.231677
Total night calls         100.399586
Total night charge          9.235528
Total intl minutes         10.700000
Total intl calls            4.163561
Total intl charge           2.889545
Customer service calls      2.229814
Churn                       1.000000
dtype: float64

Сколько в среднем в течение дня разговаривают по телефону
нелояльные пользователи?

In [ ]:
df[df['Churn']==1]['Total day minutes'].mean()

206.91407867494823

Максимальная длина международных звонков среди лояльных
пользователей (Churn == 0), не пользующихся услугой международного
роуминга ('International plan' == 'No')

In [ ]:
df[(df['Churn'] == 0) & (df['International plan'] == 'No')]['Total intl minutes'].max()

18.9

Для индексации по названию используется
метод loc, по номеру — iloc. Когда мы передаём slice object в iloc, датафрейм слайсится как обычно. Однако
в случае с loc учитываются и начало, и конец

In [ ]:
df.loc[0:5, 'State':'Area code']

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510

Индексация столбцов по номеру

In [ ]:
df.iloc[0:5, 0:3]

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415

Если нам нужна первая или последняя строчка датафрейма, пользуемся
конструкцией df[:1] или df[-1:]:

In [ ]:
df[:1]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,0

In [ ]:
df[-1:]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.6,241.4,77,10.86,13.7,4,3.7,0,0

In [ ]:
df['Churn']=df['Churn'].astype('int64')

In [ ]:
df[-1:]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.6,241.4,77,10.86,13.7,4,3.7,0,0

Применение функции к каждому столбцу: apply/
Метод apply можно использовать и для того, чтобы применить функцию к
каждой строке. Для этого нужно указать axis=1.

In [ ]:
df.apply(np.max)

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes       395.0
Total night calls           175
Total night charge        17.77
Total intl minutes         20.0
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object

In [ ]:
df.apply(np.max).axis=1
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

Метод map можно использовать для замены значений в колонке,
15
передав ему в качестве аргумента словарь вида {old_value: new_value}:

In [ ]:
d = {'No' : False, 'Yes' : True}
df['International plan'] = df['International plan'].map(d)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

Или через replace

In [ ]:
df = df.replace({'Voice mail plan':d})
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

Группировка данных в зависимости от признака Churn и вывод статистики по 3 указанным столбцам

df.groupby(by=grouping_columns)[columns_to_show].function() # общая функция

В общем случае группировка данных в Pandas выглядит следующим образом:

In [ ]:
columns_to_show = ['Total day minutes', 'Total eve minutes', 'Total night minutes']

df.groupby(['Churn'])[columns_to_show].describe(percentiles=[])

      Total day minutes                                            \
                  count        mean        std  min    50%    max
Churn
0                2850.0  175.175754  50.181655  0.0  177.2  315.6
1                 483.0  206.914079  68.997792  0.0  217.6  350.8

      Total eve minutes                                             \
                  count        mean        std   min    50%    max
Churn
0                2850.0  199.043298  50.292175   0.0  199.6  361.8
1                 483.0  212.410145  51.728910  70.9  211.3  363.7

      Total night minutes
                    count        mean        std   min     50%    max
Churn
0                  2850.0  200.133193  51.105032  23.2  200.25  395.0
1                   483.0  205.231677  47.132825  47.4  204.80  354.9

То же самое, но немного по-другому, передав в agg список функций:

In [ ]:
columns_to_show = ['Total day minutes', 'Total eve minutes', 'Total night minutes']
df.groupby(['Churn'])[columns_to_show].agg([np.mean, np.std, np.min,np.max])

      Total day minutes                        Total eve minutes             \
                   mean        std amin   amax              mean        std
Churn
0            175.175754  50.181655  0.0  315.6        199.043298  50.292175
1            206.914079  68.997792  0.0  350.8        212.410145  51.728910

                   Total night minutes
       amin   amax                mean        std  amin   amax
Churn
0       0.0  361.8          200.133193  51.105032  23.2  395.0
1      70.9  363.7          205.231677  47.132825  47.4  354.9

Сводные таблицы. Мы хотим посмотреть, как наблюдения в нашей выборке
17
распределены в контексте двух признаков — Churn и International plan. Для
этого мы можем построить таблицу сопряженности, воспользовавшись
методом crosstab:

In [ ]:
pd.crosstab(df['Churn'], df['Voice mail plan'],normalize=False)

Voice mail plan  False  True
Churn
0                 2008   842
1                  403    80

In [ ]:
pd.crosstab(df['Churn'], df['Voice mail plan'],normalize=True)

Voice mail plan     False      True
Churn
0                0.602460  0.252625
1                0.120912  0.024002

In [ ]:
pd.crosstab(df['Churn'], df['International plan'],normalize=False)

International plan  False  True
Churn
0                    2664   186
1                     346   137

In [ ]:
pd.crosstab(df['Churn'], df['International plan'],normalize=True)

International plan    False      True
Churn
0                   0.79928  0.055806
1                   0.10381  0.041104

In [ ]:
import plotly.express as px
fig = px.histogram(df, x= 'International plan', color="Churn")
fig.show()

Видно, что при подключении международного роуминга доля оттока клиентов выше.

Давайте посмотрим среднее число дневных, вечерних и ночных звонков для
разных Area code:

In [ ]:
df.pivot_table(['Total day calls', 'Total eve calls', 'Total night calls'],['Area code'],aggfunc='mean').head(10)

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

**Преобразование датафреймов**. Посчитать общее количество звонков для всех
пользователей. Создадим объект total_calls типа Series и вставим его в
датафрейм

In [ ]:
 total_calls = df['Total day calls']+df['Total eve calls']+df['Total night calls']+df['Total intl calls']
 df.insert(loc=len(df.columns),column='Total calls',value=total_calls)
 df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,332
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,333
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,255
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,359

Добавить столбец из имеющихся можно и проще

In [ ]:
df['Total charge'] = df['Total day charge']+df['Total eve charge']+df['Total night charge']+df['Total intl charge']
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls,Total charge
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303,75.56
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,332,59.24
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,333,62.29
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,255,66.80
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,359,52.09

Назовем таблицу с полными суммарными данными:

In [ ]:
total_charge = df

In [ ]:
total_charge.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls,Total charge
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303,75.56
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,332,59.24
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,333,62.29
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,255,66.80
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,359,52.09

Чтобы удалить столбцы или строки, воспользуйтесь методом drop, передавая
в качестве аргумента нужные индексы и требуемое значение параметра axis (1,
если удаляете столбцы, и ничего или 0, если удаляете строки)

In [ ]:
df = df.drop(['Total charge','Total calls'], axis=1)

Удаляем строки

In [ ]:
df.drop([1,2]).head()

Связь отттока с признаком "Подключение международного
роуминга" (International plan). Сделаем это с помощью сводной
20
таблички crosstab, а также путем иллюстрации с Seaborn

In [ ]:
pd.crosstab(df['Churn'], df['International plan'], margins=True)

International plan  False  True   All
Churn
0                    2664   186  2850
1                     346   137   483
All                  3010   323  3333

Сводная для – "Число обращений в
сервисный центр" (Customer service calls).

In [ ]:
pd.crosstab(df['Churn'], df['Customer service calls'],margins=True)

Customer service calls    0     1    2    3    4   5   6  7  8  9   All
Churn
0                       605  1059  672  385   90  26   8  4  1  0  2850
1                        92   122   87   44   76  40  14  5  1  2   483
All                     697  1181  759  429  166  66  22  9  2  2  3333

In [ ]:
import plotly.express as px
fig = px.histogram(df, x= 'Customer service calls', color="Churn")
fig.show()

Добавим теперь в наш DataFrame бинарный признак — результат
сравнения Customer service calls > 3. И еще раз посмотрим, как он связан с
оттоком.

In [ ]:
df['Many_service_calls'] = (df['Customer service calls'] > 3).astype('int')
pd.crosstab(df['Many_service_calls'],df['Churn'],margins=True)

Churn                  0    1   All
Many_service_calls
0                   2721  345  3066
1                    129  138   267
All                 2850  483  3333

In [ ]:
import plotly.express as px
fig = px.histogram(df, x= 'Many_service_calls', color="Churn")
fig.show()

Отток клиентов сильно возрастает после 4-х звонков в сервисный центр.

Объединённая сводная таблица

In [ ]:
pd.crosstab(df['Many_service_calls'] & df['International plan'] , df['Churn'])

Churn     0    1
row_0
False  2841  464
True      9   19

Исходя из вышеперечисленного, отток клиентов будет большим при подключении роуминга и более 3 звонков в сервисный центр.